<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h4>Kayıtlar</h4>
      <table class="table">
        <thead>
          <th>Adı Soyadı</th>
          <th>Mail</th>
          <th>Kayıt Tarihi</th>
          <th>Güncelleme Tarihi</th>
          <th>Düzenle</th>
          <th>Sil</th>
          
        </thead>
        <tbody>
          <tr *ngFor="let kayit of kayitlar">
            <td>{{kayit.adsoyad}}</td>
            <td>{{kayit.mail}}</td>
            <td>{{kayit.kayTarih | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
            <td>{{kayit.duzTarih | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
            <td><button class="btn btn-outline-warning" (click)="KayitDuzenle(kayit)">Düzenle</button></td>
            <td><button class="btn btn-outline-danger" (click)="KayitSil(kayit)">Sil</button></td>
          </tr>
        </tbody>
      </table>
      <hr>
    </div>
    <div class="col-md-4">
      <h4>Kayıt Ekle-Düzenle</h4>
      <hr>
      <form #frm="ngForm" (submit)="Kaydet()">
        <div class="from-group">
          <label>Adı Soyadı</label>
          <input type="text" class="form-control" name="adsoyad" [(ngModel)]="secKayit.adsoyad" required>
          <input type="text" class="form-control" name="key" [(ngModel)]="secKayit.key">
        </div>
        <div class="from-group">
          <label>E-Posta</label>
          <input type="text" class="form-control" name="mail" [(ngModel)]="secKayit.mail" required>
        </div>
        <div class="from-group">
          <input type="submit" value="Kaydet" class="btn btn-outline-success" [disabled]="frm.invalid">
        </div>
      </form>
      <div [ngClass]="sonuc.islem ? 'alert alert-success':'alert alert-danger'" *ngIf="sonuc.mesaj?.length>0">{{sonuc.mesaj}}</div>

      
    </div>
  </div>
</div>