<div class="container" style="margin-top: 100px;">

  <div class="jumbotron">
      <h1 class="display-4 text-center">SINAVCAN</h1>
      <p class="lead text-center">Canlara özel sınav portalı!</p>
  </div>
  
  
  <div class="row">
      <div class="col-md-6">

          <img src="assets/img2.jpg" class="rounded">
          <h5>Neden Sınavcan?</h5>
          <div class="col-md-12">Yeni nesil ölçme ve değerlendirme platformu olan sınavcan.com'da deneme sınavlarımızın soruları alanlarında uzman öğretenler tarafından son müfredete birebir uyumlu olacak şekilde özenle tasarlanmıştır.</div>
      </div>

      <div class="col-md-6">
          <img src="assets/img3.jpg" class="img-fluid">
          <h5>Başarıya Giden Yol Çok Çalışmaktır!</h5>
          <div class="col-md-12">Çözeceğiniz her sınav sizi hedefinize bir adım daha yaklaştırır, hedefinize giden en hızlı yol dur durak bilmeden çalışmaktır! Sizlere özel kadromuzla hedefinize giden yolda eşlik etmemize izin verdiğiniz takdirde elimizden gelenin en iyisini yapacağımızdan şüpheniz olmasın.</div>
      </div>
  </div>
</div>