<div class="container mt-5">
  <div class="row text-center">
      <h1>Matematik Cevap Anahtarı</h1>
      <div class="card col-md-6 mt-5">
          <h1>Matematik Cevap Anahtarı</h1>
          <h2>Test-1</h2>
          <p>1-A</p>
          <p>2-C</p>
          <p>3-E</p>
          <p>4-A</p>
          <p>5-B</p>
      </div>

      <div class="card  col-md-6 mt-5">
          <h1>Matematik Cevap Anahtarı</h1>
          <h2>Test-2</h2>
          <p>1-A</p>
          <p>2-E</p>
          <p>3-D</p>
          <p>4-C</p>
          <p>5-A</p>

      </div>
  </div>
</div>